body {
    margin: 0;
    padding: 0;
    border: none;
    background: #22c1c3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #22c1c3, #fdbb2d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
}
ul.a{
    list-style-type: rcleci;
    background: #ff9979;
    padding: 20px;

}

.img    {
    float: bottom;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.article{
    justify-content: right;
}

.navbar{
width: 350px;
    background: #30E8BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);
    background: linear-gradient(to right, #FF8235, #30E8BF);

}
.rightarea{
    width: 50%;
    text-align: center;
    padding-left: 100px;
}
div#thumbnail {
    position: relative;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

div#titlebar {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: hidden;
}


div.container {
    width: 100%;
    border: 1px solid gray;
}

#header, #footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    width: 100%;
}

#sidebar {
    float: left;
    max-width: 300px;
    margin: 0;
    padding: 1em;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul a {
    text-decoration: none;
}

div.paragraphs {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

div.img {

}

article {
    clear: left;
}

.container {
    display: grid;
    grid-template-areas:
    "navbar rightarea"

}
@media screen and (max-width: 1000px) {
    .container {
        grid-template-columns: auto;
        grid-template-areas: "navbar";
        "rightarea"
    }
    .navbar{
        align-content: center;
    }
}

