body {
    margin: 0;
    padding: 0;
    border: none;
    background: #22c1c3;
    background: -webkit-linear-gradient(to right, #22c1c3, #fdbb2d);
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
}
ul.a{
    list-style-type: rcleci;
    background: #ff9979;
    padding: 20px;
}
.img    {
    width: 1000px;
    zoom: 50%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.article{
    justify-content: right;
}
.btn    {
    background-color: grey;
    border-color: black;
}
.card{
    padding: 20px;
}
.navbar{
    background-color: green;
}
.sidenavbar{
width: 350px;
    margin: 10px;
    border-radius: 2px;
    background: #30E8BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);
    background: linear-gradient(to right, #FF8235, #30E8BF);

}
.rightarea{
    width: 100%;
    text-align: left;
    padding-left: 35%;
}
div#thumbnail {
    position: relative;
    margin: auto;
    padding: 0;
    overflow: hidden;
}


#header, #footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    width: 100%;
}

#sidebar {
    float: left;
    height: 2000px;
    margin: 0;
    padding: 1em;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul a {
    text-decoration: none;
}

div.paragraphs {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

div.img {

}

article {
    clear: left;
}
